.searchContainer::-webkit-scrollbar {
  width: 12px;
}
.searchContainer::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 30px;
}
.searchContainer::-webkit-scrollbar-thumb {
  background-color: #303030;
  height: 24px;
  border-radius: 30px;
}
