@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #EDEEED;
  --inner-color: #FDFDFD;
  --double-inner-color: #FDFDFD;
  --text-color: #4E4857;

  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0A0A0A;
    --inner-color: #151515;
    --double-inner-color: #202020;
    --text-color: #FDFDFD;
  }
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}